<html>
  <head>

    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.7.1 used here -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>

    <script src="js/angular_test.js"></script>

  </head>

  <body ng-controller="FetchController as store" ng-app="gemStore">

	<nav class="navbar-default">
	  <div class="container-fluid">
	  	<div class="navbar-header">
	  		<a href="#" class="navbar-brand">STORE {{products}}</a>
	  	</div>
	  </div>
	</nav>	    
    <div ng-controller="ProductController">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in products track by $index"  
				ng-click="SetCurrentProduct($index)"
				ng-class="{ active : IsCurrentProduct($index) }"
			>
				<h3> 
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
			</li>
		</ul>
		<section ng-init="tab = 0" ng-show="!IsCurrentProduct(null)">
			<ul class="nav nav-tabs">
				<li ng-class="{active:tab === 0}"> <a href ng-click="tab = 0">Description</a></li>
				<li ng-class="{active:tab === 1}"> <a href ng-click="tab = 1">Reviews</a></li>
				<li ng-class="{active:tab === 2}"> <a href ng-click="tab = 2">Spec</a></li>
			</ul>
			<div class="panel-body" ng-show="tab === 0"> 
				Description for {{products[currentProductIndex].name}} is here.
			</div>
			<div class="panel-body" ng-show="tab === 1"> 
				Reviews for {{products[currentProductIndex].name}} are here.
			</div>
			<div class="panel-body" ng-show="tab === 2"> 
				Specs for {{products[currentProductIndex].name}} are here.
			</div>
		</section>
	</div>
  </body>
</html>